<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bed">
            <h2><span jhiTranslate="wardBedApp.bed.home.viewLabel">View Bed</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wardBedApp.bed.bedReferenceId">Bed Reference ID</span></dt>
                <dd>
                    <span>{{ bed.bedReferenceId }}</span>
                </dd>
                <dt><span jhiTranslate="wardBedApp.bed.bedName">Bed Name</span></dt>
                <dd>
                    <span>{{ bed.bedName }}</span>
                </dd>
                <dt><span *ngIf="bed.wardId" jhiTranslate="wardBedApp.bed.ward">Ward</span></dt>
                <dd>
                    <div *ngIf="bed.wardId">
                        <a [routerLink]="['/ward', bed.wardId, 'view']"><small>{{ bed.wardName }}</small></a>
                    </div>
                </dd>
                <dt><span *ngIf="bed.wardId"  jhiTranslate="wardBedApp.bed.wardClassType">Ward Class Type</span></dt>
                <dd>
                    <span *ngIf="bed.wardId">{{ bed.wardClassType }}</span>
                </dd>
                <dt><span jhiTranslate="wardBedApp.bed.wardAllocationDate">Ward Allocation Date</span></dt>
                <dd>
                    <span>{{ bed.wardAllocationDate | date:'dd-MM-yyyy' }}</span>
                </dd>

            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bed', bed.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
