<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ward-heading" *ngIf="!editForm.get('id')?.value" jhiTranslate="wardBedApp.bed.home.addLabel">Add Bed</h2>
            <h2 id="jhi-ward-heading" *ngIf="editForm.get('id')?.value" jhiTranslate="wardBedApp.bed.home.editLabel">Edit Bed</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wardBedApp.bed.bedReferenceId" for="field_bedReferenceId">Bed Reference Id</label>
                    <input type="text" class="form-control" name="bedReferenceId" id="field_bedReferenceId"
                           formControlName="bedReferenceId"/>
                    <div *ngIf="editForm.get('bedReferenceId')!.invalid && (editForm.get('bedReferenceId')!.dirty || editForm.get('bedReferenceId')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('bedReferenceId')?.errors?.bedRefIdMismatch" 
                            jhiTranslate="entity.validation.uniquePattern" [translateValues]="{ pattern: 'Bed Reference ID' }">
                        Bed Reference ID in use.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bedReferenceId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bedReferenceId')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bedReferenceId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 6 }">
                        This field cannot be longer than 6 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bedReferenceId')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Bed Reference Id' }">
                            This field should follow pattern for "Bed Reference Id".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wardBedApp.bed.bedName" for="field_bedName">Bed Name</label>
                    <input type="text" class="form-control" name="bedName" id="field_bedName"
                           formControlName="bedName"/>
                    <div *ngIf="editForm.get('bedName')!.invalid && (editForm.get('bedName')!.dirty || editForm.get('bedName')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('bedName')?.errors?.bedNameMismatch" 
                            jhiTranslate="entity.validation.uniquePattern" [translateValues]="{ pattern: 'Bed Name' }">
                        Bed Name in use.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bedName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 17 }">
                        This field cannot be longer than 17 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wardBedApp.bed.wardAllocationDate" for="field_wardAllocationDate">Ward Allocation Date</label>
                    <div class="input-group">
                        <input id="field_wardAllocationDate" type="text" class="form-control" name="wardAllocationDate" ngbDatepicker #wardAllocationDateDp="ngbDatepicker" formControlName="wardAllocationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="wardAllocationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('wardAllocationDate')!.invalid && (editForm.get('wardAllocationDate')!.dirty || editForm.get('wardAllocationDate')!.touched)">
                        <small class="form-text text-danger"
                            *ngIf="editForm.get('wardAllocationDate')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" jhiTranslate="wardBedApp.bed.dateMismatch"
                               *ngIf="editForm.get('wardAllocationDate')?.errors?.dateMismatch">
                                Ward Allocation Date cannot be before today.
                        </small>
                    </div>

                    

                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wardBedApp.bed.ward" for="field_ward">Ward</label>
                    <select class="form-control" id="field_ward" name="ward" formControlName="wardId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="wardOption.id" *ngFor="let wardOption of sortedWards; trackBy: trackRandom">{{ wardOption.wardName }}</option>
                        <!-- <option [ngValue]="wardOption.id" *ngFor="let wardOption of wards; trackBy: trackById">{{ wardOption.wardName }}</option> -->
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
