<div>
    <h2 id="page-heading">
        <span jhiTranslate="wardBedApp.bed.home.title">Beds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bed" 
        [routerLink]="['/bed/new']" [disabled]="wardList?.length == 0">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wardBedApp.bed.home.addLabel">
            Add Bed
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <br>
    <div class="alert alert-warning" id="no-result" *ngIf="beds?.length === 0">
        <span jhiTranslate="wardBedApp.bed.home.pleaseAdd">Please add a bed</span>
    </div>

    <div class="row" *ngIf="beds?.length > 0">
        <form name="searchForm" class="col-sm-12">
            <div class="card">
                <div class="card-header"><span>Search Criteria</span></div>
                <div class=card-block style="padding:1.5%">
                    <label class="col-sm-2 form-control-label">Bed Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="searchBedName" id="searchBedName" [(ngModel)]="searchCriteria.searchBedName"/>
                    </div>
                    <div style="margin-top: 1.5%; padding:0.5%">
                        <button type="submit" class="btn btn-warning btn-sm" (click)="search()">
                            <fa-icon [icon]="'search'"></fa-icon>
                            <span class="fa fa-search">Search</span>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" (click)="clear()">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                            <span class="fa fa-trash-o">Reset</span>
                        </button>
                    </div>    
                </div>
            </div>
        </form>
    </div>
    <br>

    <!-- 2 div tags taken-->
<div class="card" *ngIf="beds?.length > 0">
    <div class="card-header"><span>Search Result</span></div>
    <div class="class card-block" style="padding:1.5% 1.5% 0 1.5%">

    <div class="table-responsive" id="entities" *ngIf="beds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"><span jhiTranslate="global.field.sn">S/N</span></th>
                    <th scope="col"  jhiSortBy="wardId"><span jhiTranslate="wardBedApp.bed.wardName">Ward Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bedReferenceId"><span jhiTranslate="wardBedApp.bed.bedReferenceId">Bed Reference Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bedName"><span jhiTranslate="wardBedApp.bed.bedName">Bed Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wardAllocationDate"><span jhiTranslate="wardBedApp.bed.wardAllocationDate">Ward Allocation Date</span> <fa-icon icon="sort"></fa-icon></th>                    
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bed of beds ;trackBy: trackId; let index = index">
                    <td>{{index+1}}</td>
                    <!-- <td><a [routerLink]="['/bed', bed.id, 'view']">{{ bed.id }}</a></td> -->
                    <td>
                        <div *ngIf="bed.wardId">
                            <a [routerLink]="['/ward', bed.wardId , 'view']" >{{ bed.wardName }}</a>
                        </div>
                    </td>
                    <td>{{ bed.bedReferenceId }}</td>
                    <td>{{ bed.bedName }}</td>
                    <td>{{ bed.wardAllocationDate | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bed', bed.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bed', bed.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bed)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="beds?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
</div>
</div>
