<div>
    <h2 id="page-heading">
        <span jhiTranslate="wardBedApp.ward.home.title">Wards</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ward" [routerLink]="['/ward/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wardBedApp.ward.home.createLabel">
            Create a new Ward
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="wards?.length === 0">
        <span jhiTranslate="wardBedApp.ward.home.notFound">No wards found</span>
    </div>

    <div class="row">
        <form name="searchForm" class="col-sm-12">
            <div class="card">
                <div class="card-header"><span>Search Criteria</span></div>
                <div class=card-block style="padding:1.5%">
                    <label class="col-sm-2 form-control-label">Ward Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="searchWardName" id="searchWardName" [(ngModel)]="searchCriteria.searchWardName"/>
                    </div>
                    <div style="margin-top: 1.5%; padding:0.5%">
                        <button type="submit" class="btn btn-warning btn-sm" (click)="search()">
                            <fa-icon [icon]="'search'"></fa-icon>
                            <span class="fa fa-search">Search</span>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" (click)="clear()">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                            <span class="fa fa-trash-o">Reset</span>
                        </button>
                    </div>    
                </div>

            </div>

        </form>
    </div>
    <br>

    <!-- 2 div tags taken-->
    <div class="card">
        <div class="card-header"><span>Search Result</span></div>
        <div class="class card-block" style="padding:1.5% 1.5% 0 1.5%">

    <!---->
    <div class="table-responsive" id="entities" *ngIf="wards?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" ><span jhiTranslate="global.field.sn">S/N</span></th>
                    <th scope="col"  jhiSortBy="wardReferenceId"><span jhiTranslate="wardBedApp.ward.wardReferenceId">Ward Reference Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wardName"><span jhiTranslate="wardBedApp.ward.wardName">Ward Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wardClassType"><span jhiTranslate="wardBedApp.ward.wardClassType">Ward Class Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wardLocation"><span jhiTranslate="wardBedApp.ward.wardLocation">Ward Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="noOfBeds"><span jhiTranslate="wardBedApp.ward.noOfBeds">No. of Beds</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ward of wards ;trackBy: trackId; let index = index">
                    <td>{{index+1}}</td>
                    <td>{{ ward.wardReferenceId }}</td>
                    <td>{{ ward.wardName }}</td>
                    <!-- <td jhiTranslate="{{ 'wardBedApp.ClassType.' + ward.wardClassType }}">{{ ward.wardClassType }}</td> -->
                    <td>
                        <div [ngSwitch]="ward.wardClassType">
                            <div *ngSwitchCase="'A'">Class A</div>
                            <div *ngSwitchCase="'B'">Class B</div>
                            <div *ngSwitchCase="'C'">Class C</div>  
                        </div>       
                    </td>
                    <td>
                        <div [ngSwitch]="ward.wardLocation">
                            <div *ngSwitchCase="'A1'">Block A Level 1</div>
                            <div *ngSwitchCase="'A2'">Block A Level 2</div>
                            <div *ngSwitchCase="'B1'">Block B Level 1</div>
                            <div *ngSwitchCase="'B2'">Block B Level 2</div>  
                        </div>       
                    </td>
                    <!-- <td jhiTranslate="{{ 'wardBedApp.Location.' + ward.wardLocation }}">{{ ward.wardLocation }}</td> -->
                    <td>{{ ward.noOfBeds }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ward', ward.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ward', ward.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ward)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="wards?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="itemsPerPage" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
</div>
</div>
