<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ward-heading" jhiTranslate="wardBedApp.ward.home.createOrEditLabel">Create or edit a Ward</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wardBedApp.ward.wardReferenceId" for="field_wardReferenceId">Ward Reference Id</label>
                    <input type="text" class="form-control" name="wardReferenceId" id="field_wardReferenceId"
                           formControlName="wardReferenceId"/>
                    <div *ngIf="editForm.get('wardReferenceId')!.invalid && (editForm.get('wardReferenceId')!.dirty || editForm.get('wardReferenceId')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('wardReferenceId')?.errors?.wardRefIdMismatch" 
                            jhiTranslate="entity.validation.uniquePattern" [translateValues]="{ pattern: 'Ward Reference Id' }">
                        Ward Reference Id already exists.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardReferenceId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardReferenceId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 7 }">
                        This field cannot be longer than 7 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardReferenceId')?.errors?.pattern" jhiTranslate="entity.validation.wardPattern" [translateValues]="{ pattern: 'Ward Reference Id' }">
                        Ward Reference Id should be of format WARD_NN, where NN is between 01 to 10.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wardBedApp.ward.wardName" for="field_wardName">Ward Name</label>
                    <input type="text" class="form-control" name="wardName" id="field_wardName"
                           formControlName="wardName"/>
                    <div *ngIf="editForm.get('wardName')!.invalid && (editForm.get('wardName')!.dirty || editForm.get('wardName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wardBedApp.ward.wardClassType" for="field_wardClassType">Ward Class Type</label>
                    <select class="form-control" name="wardClassType" formControlName="wardClassType" id="field_wardClassType">
                        <option value="{{ 'wardBedApp.ClassType.A' | translate }}">Class A</option>
                        <option value="{{ 'wardBedApp.ClassType.B' | translate }}">Class B</option>
                        <option value="{{ 'wardBedApp.ClassType.C' | translate }}">Class C</option>
                    </select>
                    <div *ngIf="editForm.get('wardClassType')!.invalid && (editForm.get('wardClassType')!.dirty || editForm.get('wardClassType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardClassType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wardBedApp.ward.wardLocation" for="field_wardLocation">Ward Location</label>
                    <select class="form-control" name="wardLocation" formControlName="wardLocation" id="field_wardLocation">
                        <option value="{{ 'wardBedApp.Location.A1' | translate }}">Block A Level 1</option>
                        <option value="{{ 'wardBedApp.Location.A2' | translate }}">Block A Level 2</option>
                        <option value="{{ 'wardBedApp.Location.B1' | translate }}">Block B Level 1</option>
                        <option value="{{ 'wardBedApp.Location.B2' | translate }}">Block B Level 2</option>
                    </select>
                    <div *ngIf="editForm.get('wardLocation')!.invalid && (editForm.get('wardLocation')!.dirty || editForm.get('wardLocation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardLocation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
